body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Courier New', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', monospace;
  background: linear-gradient(to right, rgb(142, 240, 142), rgb(223, 237, 222));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
