
.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: green;
  color: #fff;
 
  border-radius: 10px;
  padding: 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}